<h1>listing are articles</h1> 
<p>
 <%= link_to "creates new articles", new_article_path %>
</p>
<table>
  
  <tr>
    <th>title</th>
    <th>description</th>
  </tr>
  
  <% @articles.each do |article| %>
  
  <tr>
    <td><%= article.title %></td>
    <td><%= article.description %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'show', article_path(article) %></td>
    <td><%= link_to 'delete', article_path(article), method: :delete, data: {confirm: "are you sure"} %></td>
  </tr>
  <% end %>
</table>